certifi
Flask
Flask-Cors
importlib-metadata
Keras-Preprocessing
matplotlib
pandas
pandas-datareader
pandocfilters
Pillow
PySocks
scikit-learn
scipy
seaborn
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator