certifi==2020.4.5.1
Flask==1.1.2
Flask-Cors==3.0.8
importlib-metadata==1.6.0
Keras-Preprocessing==1.1.2
matplotlib==3.2.1
pandas==1.0.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
Pillow==7.1.2
PySocks==1.7.1
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
sklearn==0.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
urllib3==1.25.9